* {
    font-family: Material;
}

body {
    background-color: #121314;
    color: white;
}

p {
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 32px;
    margin-bottom: 32px;
}

hr {
    height: 2px;
    background-color: #232123;
    border: none;
}

.paragraph {
    font-size: 18px;
    text-align: left;
    align-items: center;
    display: flex;
}

#header {
    font-size: 38px;
    text-align: left;
    font-weight: 400;
}

#title {
    font-size: 58px;
    text-align: left;
    font-weight: 400;
}

#title-container {
    margin: 12px;
    background-color: #232123;
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 3px 4px black;
}

#infobox-container {
    background-color: #191919;
    border-radius: 20px;
    padding: 1px;
    margin: 12px;
    box-shadow: 0 3px 4px black;
}

#desc {
    font-size: 18px;
    text-align: left;
    color: rgb(94, 94, 94);
}

.button {
    border-radius: 20px;
    border: none;
    width: 202px;
    height: 52px;
    background-color: #00FEDD;
    font-size: 14px;
    margin-left: 12px;
    margin-bottom: 22px;
    margin-top: 12px;
    cursor: pointer;
    box-shadow: 0 1px 4px black;
    display: block;
    margin-left: 38px;
    transition: 0.2s;
}

.button:hover {
    box-shadow: 0 4px 4px black;
    transform: translateY(-3px);
}

.icon {
    width: 24px;
    height: 24px;
}

.aligner {
    align-items: center;
}

.SameSystem {
    background-color: #232323;
    border-radius: 45px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.notice {
    background-color: #232323;
    padding: 4px;
    border-radius: 45px;
    align-items: center;
    display: flex;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 3px 4px black;
    margin: 12px;
}

.info {
    width: 24px;
    height: 24px;
    padding: 12px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: Material;
    src: url('Other/Sans.ttf');
}