html {
    height: 100%;
}

body {
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: fit-content;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    transition: 0.2s;
}

p:hover {
    color: lightgray;
    cursor: default;
}

.button {
    border-style: solid;
    border-color: white;
    border-radius: 45px;
    background-color: black;
    border-width: 3px;
    font-size: 15px;
    width: 200px;
    height: 30px;
    color: white;
    transition: 1s;
    margin: 10px;
    box-shadow: 0 9px 20px black;
}

.button:hover {
    background-color: white;
    border-color: white;
    color: black;
    width: 400px;
}

.Home {
    position: fixed;
}
.homeIMG {
    width: 30px;
    padding: 4px;
}

.ButtonBox {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(5px);
}

.header {
    width: 40px;
    height: 40px;
    background-color: rgba(211, 211, 211, 0.3);
    display: flex;
    justify-content: center;
    border-radius: 45px;
    position: fixed;
    backdrop-filter: blur(3px);
}

.ButtonBox2 {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(5px);
}